input type:keyboard {
    xkb_layout "us(altgr-intl)"
    xkb_options "caps:swapescape,compose:lwin-altgr,parens:swap_brackets"
    repeat_delay 200
    repeat_rate 30
    xkb_numlock enable
}

input type:touchpad {
    tap enabled
    pointer_accel 0.3
    tap_button_map lmr
}

input type:tablet_tool map_from_region 0.0x0.05 1.0x0.95

xwayland enable
output * scale 1

# GTK theming
set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema gtk-theme 'Dracula'
    gsettings set $gnome-schema icon-theme 'Dracula'
    gsettings set $gnome-schema cursor-theme 'Qogir-white-cursors'
    gsettings set $gnome-schema cursor-size '36'
    gsettings set $gnome-schema font-name 'Cantarell 11'
}

seat * xcursor_theme Qogir-white-cursors 36

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
#bar {
#    position top
#    height 36
#    status_command i3status
#    separator_symbol "   "
#
#    font pango: Dejavu Sans Mono, Font Awesome 6 Free 15
#    icon_theme "Dracula"
#
#    colors {
#        background #282A36
#        statusline #F8F8F2
#        separator  #282A36
#
#        focused_workspace  #BD93F9 #BD93F9 #020002
#        active_workspace   #6272A4 #6272A4 #F8F8F2
#        inactive_workspace #44475A #44475A #BFBFBF
#        urgent_workspace   #FF5555 #FF5555 #F8F8F2
#        binding_mode       #FF5555 #FF5555 #F8F8F2
#    }
#}
bar swaybar_command waybar

font pango: Cantarell 17

# class                 border  bground text    indicator child_border
client.focused          #BD93F9 #BD93F9 #020002 #BD93F9   #BD93F9
client.focused_inactive #6272A4 #6272A4 #F8F8F2 #6272A4   #6272A4
client.unfocused        #282A36 #44475A #BFBFBF #44475A   #44475A
client.urgent           #FF5555 #FF5555 #F8F8F2 #FF5555   #FF5555
client.placeholder      #282A36 #282A36 #F8F8F2 #282A36   #282A36

client.background       #F8F8F2

# default layout
titlebar_border_thickness 3
titlebar_padding 4 3
title_align left
default_border pixel 4
hide_edge_borders smart

#for_window [title=.] title_format "● %title"

##### STARTUP COMMANDS #####
exec "mako" # notifications

##### KEYBINDS #####
default_orientation horizontal
workspace_layout default
focus_on_window_activation urgent

##### FOCUS CONFIG #####
# moving the mouse never causes the container underneath to focus
focus_follows_mouse no
# move mouse to newly focused container
mouse_warping output
# wraps around local focus switches within a container. focus parent container to escape
focus_wrapping force

##### KEYBINDS #####
### High Level Binds ###
set $mod Mod4
set $term 'WINIT_X11_SCALE_FACTOR=1 alacritty'
set $term_float alacritty -o window.class.instance=termfloat
for_window [app_id="termfloat"] floating enable
set $menu wofi --show=drun

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'Exit sway?' -b 'Yes' 'swaymsg exit'

# custom keybinds
bindsym $mod+Return exec $term
bindsym $mod+Shift+Return exec $term_float
bindsym $mod+Shift+c exec plus42

bindsym Print exec grimshot copy area
bindsym Ctrl+Print exec grimshot save area
bindsym $mod+Print exec grimshot copy window
bindsym $mod+Ctrl+Print exec grimshot save window
bindsym Shift+Print exec grimshot copy screen
bindsym Ctrl+Shift+Print exec grimshot save screen

bindsym $mod+F3 exec "pactl set-sink-volume @DEFAULT_SINK@ +5%"
bindsym $mod+F2 exec "pactl set-sink-volume @DEFAULT_SINK@ -5%"
bindsym $mod+F1 exec "pactl set-sink-mute @DEFAULT_SINK@ toggle"

bindsym $mod+F6 exec --no-startup-id "brightnessctl set 1%+"
bindsym $mod+F5 exec --no-startup-id "brightnessctl set 1%-"
bindsym $mod+n exec --no-startup-id "brightnessctl set 1"
bindsym $mod+b exec --no-startup-id "brightnessctl set 100%"

bindsym $mod+Left  exec swaymsg -- output - transform 270
bindsym $mod+Right exec swaymsg -- output - transform  90
bindsym $mod+Up    exec swaymsg -- output - transform   0
bindsym $mod+Down  exec swaymsg -- output - transform 180


bindsym $mod+Shift+m exec --no-startup-id "swaylock || swaymsg exit"

### Container Manipulating Binds ###
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod normal

# kill focused window
bindsym --no-repeat $mod+Shift+q kill

# start program launcher
bindsym $mod+d exec $menu

# change focus
bindsym $mod+h exec sway-overfocus split-lt float-lt output-ls
bindsym $mod+j exec sway-overfocus split-dt float-dt output-ds
bindsym $mod+k exec sway-overfocus split-ut float-ut output-us
bindsym $mod+l exec sway-overfocus split-rt float-rt output-rs

bindsym $mod+comma exec sway-overfocus group-lw group-uw
bindsym $mod+period exec sway-overfocus group-rw group-dw

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# subdivides the container, alternating between vertical and horizontal split
bindsym $mod+s split toggle

# subdivides the container into tabs
bindsym $mod+w split toggle; layout tabbed

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+t layout toggle splith splitv tabbed stacking

# collapse singleton parent(s)
bindsym $mod+Shift+o split none

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# parent/child tree traversal
bindsym $mod+i focus parent
bindsym $mod+u focus child

# marks
show_marks yes
bindsym $mod+Shift+s mark --add --toggle sel
bindsym $mod+Shift+x [con_mark=sel] mark --toggle sel

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws0 "10:0"

workspace $ws1 output eDP-1
workspace $ws2 output eDP-1
workspace $ws3 output eDP-1
workspace $ws4 output eDP-1
workspace $ws5 output eDP-1
workspace $ws6 output DP-0 DP-1 DP-2 DP-3 DP-4 DP-5 DP-6 DP-7 DP-8 DP-9 HDMI-A-0 HDMI-A-1 HDMI-A-2 HDMI-A-3 HDMI-A-4 HDMI-A-5 HDMI-A-6 HDMI-A-7 HDMI-A-8 HDMI-A-9
workspace $ws7 output DP-0 DP-1 DP-2 DP-3 DP-4 DP-5 DP-6 DP-7 DP-8 DP-9 HDMI-A-0 HDMI-A-1 HDMI-A-2 HDMI-A-3 HDMI-A-4 HDMI-A-5 HDMI-A-6 HDMI-A-7 HDMI-A-8 HDMI-A-9
workspace $ws8 output DP-0 DP-1 DP-2 DP-3 DP-4 DP-5 DP-6 DP-7 DP-8 DP-9 HDMI-A-0 HDMI-A-1 HDMI-A-2 HDMI-A-3 HDMI-A-4 HDMI-A-5 HDMI-A-6 HDMI-A-7 HDMI-A-8 HDMI-A-9
workspace $ws9 output DP-0 DP-1 DP-2 DP-3 DP-4 DP-5 DP-6 DP-7 DP-8 DP-9 HDMI-A-0 HDMI-A-1 HDMI-A-2 HDMI-A-3 HDMI-A-4 HDMI-A-5 HDMI-A-6 HDMI-A-7 HDMI-A-8 HDMI-A-9
workspace $ws0 output DP-0 DP-1 DP-2 DP-3 DP-4 DP-5 DP-6 DP-7 DP-8 DP-9 HDMI-A-0 HDMI-A-1 HDMI-A-2 HDMI-A-3 HDMI-A-4 HDMI-A-5 HDMI-A-6 HDMI-A-7 HDMI-A-8 HDMI-A-9

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        bindsym h resize shrink width  10 px or 8 ppt
        bindsym j resize shrink height 10 px or 8 ppt
        bindsym k resize grow   height 10 px or 8 ppt
        bindsym l resize grow   width  10 px or 8 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

include "local_config"
