include "local_config"

input type:keyboard {
    xkb_layout "us(altgr-intl)"
    xkb_options "caps:swapescape,compose:lwin-altgr,parens:swap_brackets"
    repeat_delay 200
    repeat_rate 30
    xkb_numlock enable
}

input type:touchpad {
    tap enabled
    pointer_accel 0.3
    tap_button_map lmr
}

input type:tablet_tool map_from_region 0.0x0.05 1.0x0.95

output * scale 1

# GTK theming
set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema gtk-theme 'Dracula'
    gsettings set $gnome-schema icon-theme 'Dracula'
    gsettings set $gnome-schema cursor-theme 'Qogir-white-cursors'
    gsettings set $gnome-schema cursor-size '36'
    gsettings set $gnome-schema font-name 'Cantarell 11'
}

seat * xcursor_theme Qogir-white-cursors 36

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    position top
    height 36
    status_command i3status
    separator_symbol "   "

    font pango: Dejavu Sans Mono, Font Awesome 5 Free 15
    icon_theme "Dracula"

    colors {
        background #282A36
        statusline #F8F8F2
        separator  #282A36

        focused_workspace  #6272A4 #6272A4 #F8F8F2
        active_workspace   #44475A #44475A #F8F8F2
        inactive_workspace #282A36 #282A36 #BFBFBF
        urgent_workspace   #FF5555 #FF5555 #F8F8F2
        binding_mode       #FF5555 #FF5555 #F8F8F2
    }
}

font pango: Cantarell 17

# class                 border  bground text    indicator child_border
client.focused          #6272A4 #6272A4 #F8F8F2 #6272A4   #6272A4
client.focused_inactive #44475A #44475A #F8F8F2 #44475A   #44475A
client.unfocused        #282A36 #282A36 #BFBFBF #282A36   #282A36
client.urgent           #44475A #FF5555 #F8F8F2 #FF5555   #FF5555
client.placeholder      #282A36 #282A36 #F8F8F2 #282A36   #282A36

client.background       #F8F8F2


# default layout
titlebar_border_thickness 1
titlebar_padding 4 2
title_align left
default_border pixel 4
hide_edge_borders smart

for_window [title=.] title_format "<b>▌</b>%title"

##### STARTUP COMMANDS #####
exec "mako" # notifications

##### KEYBINDS #####
default_orientation horizontal
workspace_layout default
focus_on_window_activation urgent

# moving the mouse always causes the container underneath to focus
focus_follows_mouse no
# move mouse to newly focused container
mouse_warping output
# wraps around local focus switches within a container. focus parent container to escape
focus_wrapping force

### High Level Binds ###
set $mod Mod4
set $term alacritty
set $term_float alacritty -o window.class.instance=termfloat
for_window [app_id="termfloat"] floating enable
set $menu wofi --show=drun

# reload the configuration file
bindsym $mod+Shift+r reload
# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'Exit sway?' -b 'Yes' 'swaymsg exit'

# custom keybinds
bindsym $mod+Return exec $term
bindsym $mod+Shift+Return exec $term_float

bindsym Print exec grimshot copy area
bindsym Ctrl+Print exec grimshot save area
bindsym $mod+Print exec grimshot copy window
bindsym $mod+Ctrl+Print exec grimshot save window
bindsym Shift+Print exec grimshot copy screen
bindsym Ctrl+Shift+Print exec grimshot save screen


bindsym $mod+F3 exec --no-startup-id amixer set Master 5%+
bindsym $mod+F2 exec --no-startup-id amixer set Master 5%-
bindsym $mod+F1 exec --no-startup-id amixer set Master toggle

bindsym $mod+F6 exec --no-startup-id "brightnessctl set 1%+"
bindsym $mod+F5 exec --no-startup-id "brightnessctl set 1%-"
bindsym $mod+n exec --no-startup-id "brightnessctl set 1"
bindsym $mod+b exec --no-startup-id "brightnessctl set 100%"

bindsym $mod+Left  exec swaymsg -- output - transform 270
bindsym $mod+Right exec swaymsg -- output - transform  90
bindsym $mod+Up    exec swaymsg -- output - transform   0
bindsym $mod+Down  exec swaymsg -- output - transform 180


bindsym $mod+m exec --no-startup-id "swaylock || swaymsg exit"
bindswitch lid:on exec swaylock

### Container Manipulating Binds ###
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod normal

# kill focused window
bindsym --no-repeat $mod+Shift+q kill
bindsym --no-repeat BTN_MIDDLE kill

# start program launcher
bindsym $mod+d exec $menu

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# subdivides the container, alternating between vertically and horizontally
bindsym $mod+s split toggle

# subdivides the container into tabs
bindsym $mod+w split toggle; layout tabbed

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+t layout toggle tabbed splitv splith

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+c focus child

# Scratchpad:
#
# Sway has a "scratchpad", which is a bag of holding for windows.
# You can send windows there and get them back later.

# Move the currently focused window to the scratchpad
bindsym $mod+x move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+z scratchpad show

# Puts the next scratchpad window in the current position
bindsym $mod+v scratchpad show; floating toggle

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        bindsym h resize shrink width  10 px or 8 ppt
        bindsym j resize shrink height 10 px or 8 ppt
        bindsym k resize grow   height 10 px or 8 ppt
        bindsym l resize grow   width  10 px or 8 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"
